<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Green Box</title>
<link rel="stylesheet" href="../styles/bootstrap/bootstrap.min.css">
<link rel="stylesheet" href="../styles/home.css">
<link rel="stylesheet" href="../assests/bootstrap-icons/font/bootstrap-icons.min.css">
<link rel="stylesheet" href="../styles/navbar.css">
<link rel="stylesheet" href="../styles/login.css">
</head>
<body>
<%- include('../components/navbar.ejs',{active :''}) %>
<section class="container-fluid py-5">
    <div class="container py-5">
      <div class="row gy-4 align-items-center">
        <div class="col-12 col-md-6 col-xl-7">
          <div class="d-flex justify-content-center">
            <div class="col-12 col-xl-9">
              <img class="img-fluid rounded mb-4" loading="lazy" src="../assests/img/logo.jpg" width="245" height="80" alt="BootstrapBrain Logo">
              <hr class="border-primary-subtle mb-4">
              <h2 class="h1 mb-4">We make drinks that drive you to stand out.</h2>
              <p class="lead mb-5">We write words, take photos, make coffee, and interact with artificial intelligence.</p>
              <div class="text-endx">
                <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="currentColor" class="bi bi-grip-horizontal" viewBox="0 0 16 16">
                  <path d="M2 8a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm0-3a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm3 3a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm0-3a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm3 3a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm0-3a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm3 3a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm0-3a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm3 3a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm0-3a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                </svg>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-xl-5">
          <div class="card border-0 rounded-4">
            <div class="card-body p-3 p-md-4 p-xl-5">
              <div class="row">
                <div class="col-12">
                  <div class="mb-4">
                    <h3>Sign up</h3>
                    <p>have an account? <a href="#!">Sign in</a></p>
                  </div>
                </div>
              </div>
              <form action="#!">
                <div class="row gy-3 overflow-hidden">
                  <div class="col-12">
                    <div class="form-floating mb-3">
                      <input type="email" class="form-control" name="email" id="email" placeholder="name@example.com" required>
                      <label for="email" class="form-label">Email</label>
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="form-floating mb-3">
                      <input type="text" class="form-control" name="nameFirst" id="nameFirst" value="" placeholder="First Name" required>
                      <label for="nameFirst" class="form-label">First Name</label>
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="form-floating mb-3">
                      <input type="text" class="form-control" name="nameLast" id="nameLast" value="" placeholder="Last Name" required>
                      <label for="nameLast" class="form-label">Last Name</label>
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="form-floating mb-3">
                      <input type="number" min="0" class="form-control" name="Serial" id="Serial" value="" placeholder="Universty iD" required>
                      <label for="Serial" class="form-label">Universty iD</label>
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="form-floating mb-3">
                      <input type="tel" min="0" class="form-control" name="Phone" id="Phone" value="" placeholder="Phone Number" required>
                      <label for="Phone" class="form-label">Phone Number</label>
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="form-floating mb-3">
                      <input type="password" class="form-control" name="password" id="password" value="" placeholder="Password" required>
                      <label for="password" class="form-label">Password</label>
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="form-floating mb-3">
                      <input type="password" class="form-control" name="password_confirm" id="password_confirm" value="" placeholder="Confirm Password" required>
                      <label for="password_confirm" class="form-label">Confirm Password</label>
                    </div>
                  </div>
              
                  <div class="col-12">
                    <div class="d-grid">
                      <button class="btn btn-lg login_button"  type="submit">Sign up now</button>
                    </div>
                  </div>
                </div>
              </form>
      
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
<script src="../js/bootstrap/bootstrap.bundle.min.js"></script>
</body>
</html>


