<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Green Box</title>
<link rel="stylesheet" href="../styles/bootstrap/bootstrap.min.css">
<link rel="stylesheet" href="../styles/home.css">
<link rel="stylesheet" href="../assests/bootstrap-icons/font/bootstrap-icons.min.css">
<link rel="stylesheet" href="../styles/navbar.css">
<link rel="stylesheet" href="../styles/cart.css">
<link rel="stylesheet" href="../styles/footer.css">

</head>
<body>
<%- include('../components/navbar.ejs',{active :'',auth,credit}) %>
<main class="py-5 container-fluid cart-container">
    <div class="py-3"></div>
    <div class="card">
        <div class="row">
            <div class="col-md-8 cart">
                <div class="title">
                    <div class="row">
                        <div class="col"><h4><b>Shopping Cart</b></h4></div>
                        <div id="items_count" class="col align-self-center text-right text-muted"></div>
                    </div>
                </div>    
                <div id="items"></div>
                <div class="back-to-shop"><a href="/products">&leftarrow;</a><span class="text-muted">Back to shop</span></div>
            </div>
            <div class="col-md-4 summary">
                <div><h5><b>Summary</b></h5></div>
                <hr>
              
                <form>
                    <p>Payment Method</p>
                    <select id="payment_method">
                        <option value="PICK" class="text-muted">Pickup</option>
                        <option value="CLIQ" class="text-muted">CLIQ (SULTA1) <span style="font-size: 10%;">(Arab Bank)</span></option>
                        <option value="CREDIT" class="text-muted">Credit</option>
                    </select>

                </form>
                <div class="row" style="border-top: 1px solid rgba(0,0,0,.1); padding: 2vh 0;">
                    <div class="col">TOTAL PRICE</div>
                    <div id="total_to_pay" class="col text-right"></div>
                </div>
                <button class="btn checkout">CHECKOUT</button>
            </div>
        </div>
        
    </div>
</main>
<div class="py-2"></div>
<%- include('../components/footer.ejs') %>
<script src="../js/cart.js"></script>
<script src="../js/bootstrap/bootstrap.bundle.min.js"></script>
</body>
</html>


