@import "root.css";

.container-fluid {
  background-color: var(--background-color);
  overflow-x: hidden;
}

.heading {
  border-radius: 50%;
}
.highlight {
  color: black;
}

.start_buttons button {
  border-radius: 20rem;
}

.order_now {
  background-color: #f0e8af;
}
.text-underline {
  text-decoration: underline;
}
