@import "root.css";
body{  background-color: var(--background-color);}
.container-fluid {

}

.heading {
  border-radius: 50%;
}
.highlight {
  color: black;
}

.start_buttons a {
  border-radius: 20rem;
}

.order_now {
  background-color: var(--button-color);
}
.text-underline {
  text-decoration: underline;
}

.get_coffee {
  background-color: var(--button-color);
  transition: 0.3s;
}

.get_coffee:hover {
  color: red;
}
