body {
  background-color: #92d740;
}
.login_button {
  background-color: #92d740;
}
.login_button:hover {
  background-color: #92d740;
  box-shadow: 0 0 30px #92d740;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
