<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Green Box</title>
<link rel="stylesheet" href="./styles/bootstrap/bootstrap.min.css">
<link rel="stylesheet" href="./styles/navbar.css">
<link rel="stylesheet" href="./styles/home.css">
<link rel="stylesheet" href="./styles/carousel.css">
<link rel="stylesheet" href="assests/bootstrap-icons/font/bootstrap-icons.min.css">
<link rel="stylesheet" href="./styles/footer.css">
</head>
<body>
<%- include('components/navbar.ejs' ,{active : 'home'}) %>

<section class="container-fluid  d-flex flex-column justify-content-center align-items-center py-5">
<div class="py-3"></div>
<div class="row w-100 align-items-center">
<div class="col-lg-6 text-center text-lg-start mb-4 mb-lg-0">
<h1 class="display-4 fw-bold mb-3 text-light">
Enjoy your
<span class="highlight mb-5 text-border">coffee</span>
<br>
before your activity
</h1>
<p  class="text-light d-block mb-4 learn-more">Boost your productivity and bulid your mood <br> after a long day with a cup of coffee</p>
<div class="row">
<div class="col text-center text-lg-start start_buttons">
<button class="btn order_now me-4">Order Now &nbsp;<i class="bi bi-cup-hot-fill"></i></button>
<button class="btn">Menu &nbsp;<i class="bi bi-three-dots-vertical"></i></button>
</div>


</div>
</div>
<div class="col-lg-5 text-lg-end text-center ms-2">
<img src="./assests/img/Green Box.png" alt="Coffee" width="400" class="img-fluid heading py-2">
</div>
</div>
<div class="row w-100 align-items-center">
<div class="text-lg-center"><h3>Popular <span class="text-underline">Now</span></h3></div>
</div>
<%- include('components/carousel.ejs') %>

<section class="py-5 py-xl-8">
 
  <h3 class="text-center ">How To Use Our Website</h3>
  <div class="py-2"></div>
    <div class="container overflow-hidden">
      <div class="row gy-4 gy-xl-0">
        <div class="col-12 col-sm-6 col-xl-3">
          <div class="card border-0 border-bottom border-primary shadow-sm">
            <div class="card-body text-center p-4 p-xxl-5">
             
              <svg xmlns="http://www.w3.org/2000/svg" width="56" height="56" fill="currentColor" class="bi bi-plus-square text-success mb-4" viewBox="0 0 16 16">
                <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z"/>
                <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
              </svg>
              <h4 class="mb-4">Account Creation</h4>
              <p class="mb-4 text-secondary">Once You'v Created You'r Account You'v Ready to go</p>
              <a href="#!" class="fw-bold text-decoration-none link-primary">
                Learn More
                
              </a>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-xl-3">
          <div class="card border-0 border-bottom border-primary shadow-sm">
            <div class="card-body text-center p-4 p-xxl-5">
                <svg xmlns="http://www.w3.org/2000/svg" width="56" height="56" fill="currentColor" class="bi bi-cup-straw text-success mb-4" viewBox="0 0 16 16">
                    <path d="M13.902.334a.5.5 0 0 1-.28.65l-2.254.902-.4 1.927c.376.095.715.215.972.367.228.135.56.396.56.82q0 .069-.011.132l-.962 9.068a1.28 1.28 0 0 1-.524.93c-.488.34-1.494.87-3.01.87s-2.522-.53-3.01-.87a1.28 1.28 0 0 1-.524-.93L3.51 5.132A1 1 0 0 1 3.5 5c0-.424.332-.685.56-.82.262-.154.607-.276.99-.372C5.824 3.614 6.867 3.5 8 3.5c.712 0 1.389.045 1.985.127l.464-2.215a.5.5 0 0 1 .303-.356l2.5-1a.5.5 0 0 1 .65.278M9.768 4.607A14 14 0 0 0 8 4.5c-1.076 0-2.033.11-2.707.278A3.3 3.3 0 0 0 4.645 5c.146.073.362.15.648.222C5.967 5.39 6.924 5.5 8 5.5c.571 0 1.109-.03 1.588-.085zm.292 1.756C9.445 6.45 8.742 6.5 8 6.5c-1.133 0-2.176-.114-2.95-.308a6 6 0 0 1-.435-.127l.838 8.03c.013.121.06.186.102.215.357.249 1.168.69 2.438.69s2.081-.441 2.438-.69c.042-.029.09-.094.102-.215l.852-8.03a6 6 0 0 1-.435.127 9 9 0 0 1-.89.17zM4.467 4.884s.003.002.005.006zm7.066 0-.005.006zM11.354 5a3 3 0 0 0-.604-.21l-.099.445.055-.013c.286-.072.502-.149.648-.222"/>
                  </svg>
              <h4 class="mb-4">Choose You'r Drink</h4>
              <p class="mb-4 text-secondary">Select a Hot / Cold Drink
              </p>
              <br>
              <a href="#!" class="fw-bold text-decoration-none link-primary">
                Learn More
                
              </a>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-xl-3">
          <div class="card border-0 border-bottom border-primary shadow-sm">
            <div class="card-body text-center p-4 p-xxl-5">
                <svg xmlns="http://www.w3.org/2000/svg" width="56" height="56" fill="currentColor" class="bi bi-shop-window text-success mb-4" viewBox="0 0 16 16">
                    <path d="M2.97 1.35A1 1 0 0 1 3.73 1h8.54a1 1 0 0 1 .76.35l2.609 3.044A1.5 1.5 0 0 1 16 5.37v.255a2.375 2.375 0 0 1-4.25 1.458A2.37 2.37 0 0 1 9.875 8 2.37 2.37 0 0 1 8 7.083 2.37 2.37 0 0 1 6.125 8a2.37 2.37 0 0 1-1.875-.917A2.375 2.375 0 0 1 0 5.625V5.37a1.5 1.5 0 0 1 .361-.976zm1.78 4.275a1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0 1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0 1.375 1.375 0 1 0 2.75 0V5.37a.5.5 0 0 0-.12-.325L12.27 2H3.73L1.12 5.045A.5.5 0 0 0 1 5.37v.255a1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0M1.5 8.5A.5.5 0 0 1 2 9v6h12V9a.5.5 0 0 1 1 0v6h.5a.5.5 0 0 1 0 1H.5a.5.5 0 0 1 0-1H1V9a.5.5 0 0 1 .5-.5m2 .5a.5.5 0 0 1 .5.5V13h8V9.5a.5.5 0 0 1 1 0V13a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V9.5a.5.5 0 0 1 .5-.5"/>
                  </svg>
              <h4 class="mb-4">Order It</h4>
              <p class="mb-4 text-secondary">Once You Orderd We Will Proccess it as Fast as Possible</p>
              <a href="#!" class="fw-bold text-decoration-none link-primary">
                Learn More
                
              </a>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-xl-3">
          <div class="card border-0 border-bottom border-primary shadow-sm">
            <div class="card-body text-center p-4 p-xxl-5">
                <svg xmlns="http://www.w3.org/2000/svg" width="56" height="56" fill="currentColor" class="bi bi-check2-all text-success mb-4" viewBox="0 0 16 16">
                    <path d="M12.354 4.354a.5.5 0 0 0-.708-.708L5 10.293 1.854 7.146a.5.5 0 1 0-.708.708l3.5 3.5a.5.5 0 0 0 .708 0zm-4.208 7-.896-.897.707-.707.543.543 6.646-6.647a.5.5 0 0 1 .708.708l-7 7a.5.5 0 0 1-.708 0"/>
                    <path d="m5.354 7.146.896.897-.707.707-.897-.896a.5.5 0 1 1 .708-.708"/>
                  </svg>
              <h4 class="mb-4">Enjoy You'r Drink</h4>
              <p class="mb-4 text-secondary">Enojy You'r Drink And Give us your Feedback</p>
              <a href="#!" class="fw-bold text-decoration-none link-primary">
                Learn More
                
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
<section class="py-3 py-md-5">
  <div class="container">
    <div class="row gy-3 gy-md-4 gy-lg-0 align-items-lg-center">
      <div class="col-12 col-lg-4 text-sm-center border-primary border border-white py-3 bg-light rounded">
        <img class="img-fluid rounded text-center" loading="lazy" src="./assests/img/heading.jpg" width="400" height="300" alt="About 2">
      </div>
      <div class="col-12 col-lg-6">
        <div class="row justify-content-xl-center">
          <div class="col-12 col-xl-10">
            <h2 class="mb-3">Why Choose Us?</h2>
            <p class="lead fs-4 mb-3 mb-xl-5">With years of experience and deep industry knowledge, we have a proven track record of success and are constantly pushing ourselves to stay ahead of the curve.</p>
            <div class="d-flex align-items-center mb-3">
              <div class="me-3 text-primary">
                <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                  <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
                </svg>
              </div>
              <div>
                <p class="fs-5 m-0">Our evolution procedure is super intelligent.</p>
              </div>
            </div>
            <div class="d-flex align-items-center mb-3">
              <div class="me-3 text-primary">
                <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                  <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
                </svg>
              </div>
              <div>
                <p class="fs-5 m-0">We deliver services beyond expectations.</p>
              </div>
            </div>
            <div class="d-flex align-items-center mb-4 mb-xl-5">
              <div class="me-3 text-primary">
                <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                  <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
                </svg>
              </div>
              <div>
                <p class="fs-5 m-0">Let's hire us to reach your objectives.</p>
              </div>
            </div>
            <button type="button" class="btn bsb-btn-xl rounded-pill get_coffee">Get your Coffee <i class="bi bi-arrow-right"></i></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</section>
<%- include('components/footer.ejs') %>
<script src="./js/navbar.js"></script>
<script src="./js/carousel.js"></script>
<script src="./js/bootstrap/bootstrap.bundle.min.js"></script>
</body>
</html>